/*NavBar*/ 



/*ItemsListContainer*/
.imagen_carrousel{

height: 35rem;
}
.carousel-control-next-icon{
    color: black;
    background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
    color:black;
}
.CAPTION_CARROUSEL{
    color: black;
}
.product-card {
display: flexbox;
text-align: center;
}
.productos-flex{
    display: flex;
    padding: 20px;
}
.img-producto{
    width: 20rem;
    height: 12rem;
}
.productos-h2
{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
    text-decoration: underline 2px black;
}
.btnAddCart{
    margin-top: 1rem;
}
.card{
    margin: 5rem;
    width: 23rem;
}
.container-cards{
    display: flex;
}
.card-body{
    text-align: center;
}