/*NavBar*/ 



/*ItemsListContainer*/
.imagen_carrousel{

height: 35rem;
}
.carousel-control-next-icon{
    color: black;
    background-color: black;
}
.carousel-control-prev-icon{
    background-color: black;
    color:black;
}
.CAPTION_CARROUSEL{
    color: black;
}